.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__yfyH6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background:
    url("https://site-assets.plasmic.app/25f7697f009d2e47463ef2425a9d260c.jpg")
      top 50% left 50% / cover repeat,
    url("https://site-assets.plasmic.app/06f56260fbdcd072384aa7d0d0b9a03c.jpg")
      top 50% left 50% / cover repeat,
    #171717;
  height: auto;
  align-self: center;
  margin-bottom: 0px;
  max-width: 2084px;
  transform: translate3d(0px, 0px, 0px);
  min-width: 0;
  padding: 1px 0px 740px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yfyH6 {
    max-width: 467px;
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 6px 20px 282px;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__qy9O2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  background: #171717;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 30px;
}
.freeBox__u7Zjr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__qaI3V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 520px;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 113px 8px 32px;
}
.text {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-HJLn-RzZADtx);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  width: 100%;
  row-gap: 48px;
  min-width: 0;
}
.freeBox__jhn4K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  row-gap: 48px;
}
.freeBox__opnkB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__opnkB {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__cPvtG {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cPvtG {
    padding-top: 38px;
  }
}
.freeBox___3JkoW {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__dxci5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 340px;
  transform: translate3d(0px, 0px, 0px);
  flex-shrink: 0;
  border-radius: 20px;
}
.img__dxci5 > picture > img {
  object-fit: cover;
}
.freeBox__hCy2E {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__b5UcY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: none;
  background: #ddc18f;
  min-width: 0;
  padding: 8px;
}
.freeBox__qrZuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 171px;
  background: none;
  min-width: 0;
  padding: 56px 128px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qrZuu {
    width: 100%;
    height: 231px;
    min-width: 0;
    padding: 47px 20px 41px;
  }
}
.freeBox___4EMjX {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 594px;
  margin-top: 0px;
  padding-bottom: 11px;
  width: 100%;
  padding-top: 0px;
  row-gap: 32px;
  column-gap: 64px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  min-width: 0;
}
.img__qtZiF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qtZiF > picture > img {
  object-fit: cover;
}
.img__y5H8F {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__y5H8F > picture > img {
  object-fit: cover;
}
.img__dqjil {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dqjil > picture > img {
  object-fit: cover;
}
.img__rwjYb {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__rwjYb > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
