.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  position: relative;
  min-width: 0;
  padding: 26px 16px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
    padding: 15px 0px 0px;
  }
}
.freeBox__xues2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xues2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.topMenu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.link__sLfuo {
  display: flex;
}
.img {
  object-fit: cover;
  width: 96px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__bmBqd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 27px;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bmBqd {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link___1Gyo {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1Gyo {
    padding: 10px 6px;
  }
}
.svg__dUJs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__whC0V {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: none;
  pointer-events: auto;
}
.svg__c3Egm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__fbxQ {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fbxQ {
    padding: var(--token-Jz-XGr_0sUI2);
  }
}
.svg__nYlf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__iWtBp {
  font-size: 15px;
  font-weight: 400;
  color: #7b7b7b;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: none;
  pointer-events: auto;
  height: auto;
}
.svg___6JPje {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dAvjh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dAvjh {
    padding: var(--token-Jz-XGr_0sUI2);
  }
}
.svg___8JeHh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___7WIo2 {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: none;
  pointer-events: auto;
  padding-bottom: 0px;
}
.svg__qhdbB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__wSe55 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__qta {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__dtcMp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__iSwLo {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__keT0Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
