.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__sPj6I {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: #171717;
  height: auto;
  align-self: center;
  margin-bottom: 0px;
  max-width: 2084px;
  transform: translate3d(0px, 0px, 0px);
  min-width: 0;
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sPj6I {
    max-width: 467px;
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 6px 20px 0px;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox___07Bi6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  background: #171717;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 30px;
}
.freeBox__qybh6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 472px;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__tvs0H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 444px;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 53px 8px 32px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 23px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  width: 100%;
  row-gap: 18px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox___4MrcX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  row-gap: 48px;
}
.freeBox__kJqGh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kJqGh {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__oYdRi {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 349px;
  justify-content: center;
  column-gap: 16px;
  row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oYdRi {
    padding-top: 38px;
  }
}
.freeBox__x737W {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.link__yUbX {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.img__cf5Jb {
  object-fit: cover;
  max-width: 100%;
  width: 340px;
  transform: translate3d(0px, 0px, 0px);
  flex-shrink: 0;
  border-radius: 20px;
}
.img__cf5Jb > picture > img {
  object-fit: cover;
}
.freeBox__zHqJc {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.link__xi1B {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-HJLn-RzZADtx);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 0px 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xi1B {
    margin-top: 16px;
  }
}
.freeBox___5QTjH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: none;
  background: #ddc18f;
  min-width: 0;
  padding: 8px;
}
.freeBox__l6VMm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 171px;
  background: none;
  min-width: 0;
  padding: 56px 128px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l6VMm {
    width: 100%;
    height: 231px;
    min-width: 0;
    padding: 47px 20px 41px;
  }
}
.freeBox__eMfgF {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 594px;
  margin-top: 0px;
  padding-bottom: 11px;
  width: 100%;
  padding-top: 0px;
  row-gap: 32px;
  column-gap: 64px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  min-width: 0;
}
.img__emvNi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__emvNi > picture > img {
  object-fit: cover;
}
.img___148Af {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___148Af > picture > img {
  object-fit: cover;
}
.img__rmkSe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__rmkSe > picture > img {
  object-fit: cover;
}
.img__bsoEn {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bsoEn > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
  height: 128px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    height: 179px;
    flex-shrink: 0;
  }
}
